body {
  background-color: $negro;
}

.contenedor-estetica {
  @include tablet {
    height: 100vh;
    @include grid(2, $separacion/2);
  }
  .imagen {
    height: 30rem;
    background-image: url(../img/2.jpg);
    background-position: center center;
    background-size: cover;

    @include tablet {
      height: auto;
    }
  }
}

.app{
    width: 95%;
    margin: 0 auto;
    padding-top: $separacion /2;

    .seccion{
      display: none;
      margin-top: $separacion/2;
      text-transform: capitalize;
      
      
    }
}
.mostrar-seccion{
  display: block!important;
}